.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  height: 60px;
  background-color: grey;
  color: white;
  border-bottom: 2px solid black;
  box-shadow: 0 3px 8px black;
  font-size: 8px;
  z-index: 5;
}

.header h1 {
  margin-left: 15px;
  justify-self: flex-start;
  margin-right: auto;
}

.header a {
  margin-right: 20px;
  position: block;
  background-color: grey;
  cursor: pointer;
  transition: .3s;
  text-decoration: none;
  color: white;
  font-size: 12px;
}


.header a:hover {
  color: black;
}

