.inspections-display-page {
  margin: auto;
  padding: 15px;
  width: 800px;
  min-height: 100vh;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.inspection-block {
  margin: 15px 0;
  border: 2px solid gray;
  padding: 15px;
  border-radius: 15px;
  background-color: darkgray;
}

.search-engine {
  position: fixed;
  top: 60px;
  left: 200px;
  margin: 20px 0;
  padding: 15px;
  background-color: darkgray;
  color: white;
  border: 2px solid gray;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.search-engine > * {
  margin-bottom: 5px;
}

.inspection-block a, .inspection-block button {
  font-size: 12px;
  margin-right: 10px;
}

.inspection-block button {
  background-color: transparent;
  border-style: none;
  cursor: pointer;
}

.link-inspection {
  text-decoration: none;
  color: black;  
}

.delete-inspection {
  color: red;
}

.update-inspection {
  color: yellow;
  text-decoration: none;
}

.diagram-style {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 15px;
  border: 2px solid darkgray;
  border-radius: 15px;
  background-color: black;
  color: white;
  width: 800px;
}

.diagram-style button {
  margin-top: 10px;
  border-style: none;
  background-color: black;
  font-size: 20px;
  color: white;
  cursor: pointer;
}

@Media(max-width: 1100px) {
  .search-engine {
    right: 20px;
    left: auto;
  }
}

@Media(max-width: 750px) {
  .inspections-display-page {
    margin-top: 30px;
  }

  .sign-search-engine {
    position: fixed;
    color: black;
    top: 100px;
    left: 20px;
    font-weight: bold;
    font-size: 40px;
  }

  .search-engine {
    margin-top: 35px;
  }
}

@Media(max-width: 1120px) {
  .diagram-style {
    width: 500px
  }

  .diagram-style button {
    font-size: 15px
  }
}

@Media(max-width: 530px) {
  .diagram-style {
    width: 370px
  }
}
