* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: url('tramwaj2.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  min-height: 100vh;
  background-position: center;
}

.App {
  min-height: 100vh;
  width: 100%;
}

.wrapper {
  margin-top: 60px;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: calc(100vh - 60px);
  display: flex;
}