.menu-style {
  position: fixed;
  min-height: 100vh;
  width: 150px;
  background-color: black;
  color: white;
  z-index: 3;
  font-size: 19px;
}

.menu-style p {
  border-right: 1px solid white;
  border-bottom: 1px solid white;
}

.menu-style:nth-child(2), .menu-style:nth-child(3) {  
  cursor: pointer;
}

.menu-style p {
  text-align: center;
}

@Media(max-width: 800px){
  .menu-style {
    width: 100%;
    min-height: 30px;
    border-bottom: 1px solid white;
  }

  .menu-style p {
    border: none;
  }

  .menu-style nav {
    border-top: 1px solid white;
  }
}