.display-settings {
    margin: 50px auto;
    padding: 15px;
    width: 400px;
    height: 400px;
    background-color: darkgray;
    border: 2px solid gray;
    border-radius: 15px;
    box-shadow: 2px 5px 20px black;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.display-settings p {
    margin-bottom: 15px;
}