.inspections-display-page-inside {
  margin: auto;
  padding: 15px;
  width: 800px;
  /* background-color: black; */
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.inspection-block-inside {
  margin: 15px 0;
  border: 2px solid gray;
  padding: 15px;
  border-radius: 15px;
  background-color: darkgray;
}

.inspection-block-inside p:nth-last-child(4) {
  margin-bottom: 10px;
}

.inspection-block-inside button {
  background-color: transparent;
  border-style: none;
  margin-top: 5px;
  padding: 2px 10px;
  cursor: pointer;
}

.delete-inspection2 a, .update-inspection2 a, .return-page a {
  text-decoration: none;  
}

.delete-inspection2 a {
  color: red;
}

.update-inspection2 a {
  color: yellow;
}
.return-page a{
  color: black
}